
<table border = 1>
  <thead>
    <tr>
      <th>PhysicianID</th>
      <th>FirstName</th>
      <th>LocationID</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physician.each do |physician| %>
      <tr>
        <td><%= physician.PhysicianID %></td>
        <td><%= physician.FirstName %></td>
        <td><%= physician.LocationID %></td>
           
      </tr>
    <% end %>
  </tbody>
</table>





